<div class="map-active">
    <div class="col-lg-12 control-section card-control-section reveal_card_layout mt-2" style="width: 25%;">
        
        <div class="row mb-3" *ngIf="isDriver">
            <div class="col-5 mt-2 text-center" style="font-weight: 600; font-size: 15px;">
               Driver :
            </div>
            <div class="col-7 ">
                <!-- get the dropdownlist from [data] array -->
                <ejs-dropdownlist (change)="filter($event)" id='ddlelement' [dataSource]='data' placeholder = 'Select a Driver' disabled="isDriver == true"></ejs-dropdownlist>
            </div>
        </div>

        <div class="row mb-3" *ngIf="isBus">
            <div class="col-5 mt-2 text-center" style="font-weight: 600; font-size: 15px;">
               Bus :
            </div>
            <div class="col-7 ">
                <!-- get the dropdownlist from [data] array -->
                <ejs-dropdownlist (change)="filter($event)" id='ddlelement' [dataSource]='data2' placeholder = 'Select a Bus' ></ejs-dropdownlist>
            </div>
        </div>

        <div class="row mb-3" >
            <div class="col-5 text-end" style="padding: 1px;">
              <button class="btn btn-primary text-end" (click)="activeDriver()" >Driver</button>
            </div>
            <div class="col-5 text-start" style="padding: 1px;">
                <button class="btn btn-primary text-start" style="width: 73px;"  (click)="activeBus()">Bus</button>

            </div>
        </div>
    <div class="e-sample-resize-container e-card-resize-container">
        <div class='row'>
            <div class="row card-layout">
                    <div class="e-card" style="text-align:center;">
                        <div id="card_revealed">
                            <div class="e-card-content" style="line-height:2.75em">
                                <table style="width: 100%;table-layout: fixed;">
                                    <tr>
                                        <div style="text-align: center;font-weight: 500;width: 200%;font-size: 1.1rem;"> Trip Details </div>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="text-align: left;font-weight: 500;"> Trip ID </div>
                                        </td>
                                        <td>
                                            <div style="text-align: left;width: 80px;white-space:nowrap">{{detailes.tripID}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="text-align: left;font-weight: 500;">Route</div>
                                        </td>
                                        <td>
                                            <div style="text-align: left;white-space:nowrap">{{detailes.rout}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="text-align: left;font-weight: 500;">Bus</div>
                                        </td>
                                        <td>
                                            <div style="text-align: left;">{{detailes.bus}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="text-align: left;font-weight: 500;"> Driver </div>
                                        </td>
                                        <td>
                                            <div style="text-align: left;width: 80px;white-space:nowrap">{{detailes.driver}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="text-align: left;font-weight: 500;"> Max Speed </div>
                                        </td>
                                        <td>
                                            <div style="text-align: left;width: 80px;white-space:nowrap">{{detailes.maxSpeed}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="text-align: left;font-weight: 500;">Passengers</div>
                                        </td>
                                        <td>
                                            <div style="text-align: left;">{{detailes.passengerCount}}</div>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map-to-active border">
      
        <app-map></app-map>
    </div>
</div>
